* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
} 

.navbar{
    display: inline-block;
    padding-left: 200px;
    
    text-decoration: none;
    margin-top: 22px;
    margin-bottom: 21px;
    
}
.logo {
    
    color: #5C47D9 !important;
    margin-right: 83px ;
    font-size: 24px;
    font-weight: 700;
    width: 152px;
    height: 50px;
    background: #F0EDFF;
    padding: 11px;
;
    

}
.navbar a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-left: 29px;

}
.content {
    background-image: url("./assats/Rectangle\ 7.png");
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat ;
}
.content h1 {
    
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    
    
}
.content p {
     color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-top: 37px;
    
}
.cardbox {
    background: #F5F5F7;
    padding-bottom: 151px;   
    
   
}
.headline {
    padding: 45px 0px 49px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}
.cards {
    display: inline-flex;
    margin-left: 200px;
}
.cards div {
    width: 360px;
    height: 240px;
}
.purple {
    background-color:  #C7B8FF;
}
.pink {
    background: #FFB8D8;
}
.blue {
    background: #B8E0FF; 
}
.green {
   background: #D4FFB8; 
}
.orange {
    background: #FFE4B8;
   
}
.orange2 {
    background: #FFD4B8;
    
}
figure {
   padding: 15px;
}
.container {
    padding:  15px 1px 20px 19px;
    
}
.author {
    margin-left: 28px;
}
.container h3 {
    font-weight: 600;
    font-size: 22px;
    width: 320px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.container p {
    width:340px ;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 15px;
}
figcaption {
    background-color: #FFFFFF;
    height: 200px;
    padding-right: 19px;
}
.card {
    margin: 0;
}
footer {
    background: hsl(0, 1%, 14%);  
}

.last-section{
  display: flex;
  justify-content: flex-start;
  padding: 57px  0;
}
.layer {
        margin-left:200px;
 }
  
.techblog {
    width: 296px;  
}

.techblog  > p {

font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #A1A1A6;


}
.category  {
 padding-left: 82px;
}
li {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A1A1A6;
}

.black {
    height: 55px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  #86868B;
}
.contact {
    margin-top: 34px;
}
 .last-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A1A1A6;
 }
 .last-section h3 {
    padding-bottom: 14px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

 }

  .last-section a {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A1A1A6;
    text-decoration: none;
  }